@font-face {
  font-family: Roboto-Black;
  font-display: swap;
  src: url("../fonts/Roboto-Black.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Medium;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Regular;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Roboto;
  background-color: #FFFFFF;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  height: 50px;
  background-color: #0A99AB;
  color: #ffffff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  font-size: 22px;
  font-weight: 700;
}

h1 {
  text-align: center;
  color: #0A99AB;
  font-size: 72px;
  font-weight: 700;
  padding-bottom: 34px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.title {
  margin-bottom: 24px;
}

.header {
  height: 100px;
  max-width: 1117px;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button button {
  width: 123px;
}

.menu {
  margin-right: 41px;
}

.menu__link {
  color: #2A334D;
  font-size: 16px;
  font-weight: 500;
  padding-left: 33px;
}

.main {
  margin-top: 82px;
  margin-bottom: 99px;
}

.main__item {
  max-width: 1117px;
  margin: 0 auto 0 auto;
}

.main--blue {
  color: #002550;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 540px;
  padding: 10px 14px;
  margin: auto;
}

.timer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E6F5F7;
  border-radius: 12px;
  padding: 5px 30px 11px 30px;
  margin: 10px 14px 10px 14px;
  font-size: 48px;
  font-weight: 700;
  color: #0A99AB;
  text-align: center;
}

.timer__text {
  font-weight: 500;
  font-size: 14px;
}

.no-webp .second-block {
  background-image: url("../img/second-block/Group456.png"); }

.second-block {
  background-repeat: no-repeat;
  background-size: cover;
}

.second-block__item {
  max-width: 1117px;
  margin: 0 auto 0 auto;
}

.second-block .slider {
  width: 730px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.second-block .slider__item {
  height: 100%;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0A99AB;
}

.second-block .slider__item div {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.second-block .slider span {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 50%;
  margin: -25px 0 0 0;
  background-color: #ffffff;
  color: #0A99AB;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.second-block #prev {
  left: 0;
  border-radius: 50%;
}

.second-block #next {
  right: 0;
  border-radius: 50%;
}

.second-block #prev svg,
.second-block #next svg {
  width: 100%;
  fill: #fff;
  color: #0A99AB;
}

.second-block #prev:hover,
.second-block #next:hover {
  background-color: #B5E0E6;
}

.second-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-block__title {
  color: #FFFFFF;
}

.second-block__text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  width: 50%;
}

.second-block__img {
  width: 100%;
  height: 100%;
}

.second-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  margin: 0 auto 50px auto;
}

.slider .swiper-slide {
  text-align: center;
}

.no-webp .third-block {
  background-image: url("../img/third-block/Path878.png"); }

.third-block {
  background-color: #E6F5F7;
  padding-top: 86px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.third-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third-block__title {
  color: #002550;
}

.third-block__text {
  width: 50%;
}

.no-webp .third-block__img {
  background-image: url("../img/third-block/Group457.png"); }

.third-block__img {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px 0;
  overflow: hidden;
  height: 560px;
}

.list {
  list-style: none;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item svg {
  margin-right: 21px;
  width: 37.25px;
  height: 34px;
}

.no-webp .contact {
  background-image: url("../img/contact/Rectangle4433.png"); }

.contact {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 165px;
}

.contact__item {
  padding-top: 85px;
  padding-bottom: 160px;
  max-width: 1117px;
  margin: 0 auto 0 auto;
}

.contact__title {
  margin-bottom: 50px;
}

.contact__title h2 {
  text-align: left;
  color: #AAEFF9;
}

.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  border-radius: 12px;
  background-color: #FFFFFF;
  padding: 20px;
  margin-bottom: 165px;
}

.contact .form__item {
  width: 310px;
  margin: auto;
}

.contact .form #phone,
.contact .form #email {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
  height: 50px;
  background-color: #E6F5F7;
  border: none;
}

.contact .form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  font-size: 11px;
  font-weight: 400;
  color: #002550;
}

.contact .form__checkbox input {
  margin-right: 10px;
}

.contact .form button {
  width: 100%;
}

.table {
  margin: 93px;
}

.table__item {
  margin: auto;
}

.table__title {
  color: #0A99AB;
  margin-bottom: 70px;
}

.table table {
  border-collapse: collapse;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 50px auto;
}

.table table .table__head {
  background-color: #E6F5F7;
  color: #0A99AB;
  font-size: 14px;
}

.table table th {
  padding: 20px 10px;
  border: 1px solid #0A99AB;
  width: 100px;
  padding: 20px;
  text-align: center;
}

.table table td {
  border: 1px solid #0A99AB;
  color: #002550;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  padding: 20px;
  text-align: center;
}

.table table td:hover {
  background-color: #B5E0E6;
}

.table__button {
  text-align: center;
}

.table__button button {
  width: 238px;
}

.animation__item {
  margin-bottom: -10px;
  position: relative;
}

.animation__svg {
  bottom: 80%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }

  48% {
    -webkit-transform: rotateY(0deg);
  }

  50% {
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg);
  }

  98% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }
}

.footer {
  background-color: #002550;
}

.footer__item {
  max-width: 1117px;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 54px 0 73px 0;
}

.footer__list {
  list-style: none;
  margin: 0;
}

.footer .footer__link {
  text-align: left;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}

.footer .footer__link:hover {
  color: #0A99AB;
}

.column__1 .footer__logo {
  margin-bottom: 54px;
}

.column__2 {
  margin-right: 30px;
}

.column__3 {
  margin-right: 30px;
}

.social svg {
  margin-right: 6px;
}

.social svg :hover {
  fill: #0A99AB;
}

.popup {
  width: 526px;
  height: 378px;
  background-color: #8FD4E3;
  border-radius: 12px;
  padding: 14px;
  position: absolute;
  top: 220px;
  left: 30%;
  display: none;
}

.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup--blue {
  color: #002550;
}

.popup__item {
  background-color: #ffffff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.popup__title {
  color: #0A99AB;
  padding-bottom: 12px;
  margin-bottom: 0;
  text-align: left;
}

.popup__button {
  width: 92px;
}

.no-webp .popup__img {
  background-image: url("../img/popup/background.png"); }

.popup__img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  body {
    padding: 8px;
  }

  header,
  .main__item,
  .second-block__item,
  .third-block__item,
  .contact__item,
  .footer__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .popup {
    left: 10%;
  }

  .animation {
    display: none;
  }
}

.webp .second-block { background-image: url(../img/second-block/Group456.webp); }

.webp .third-block { background-image: url(../img/third-block/Path878.webp); }

.webp .third-block__img { background-image: url(../img/third-block/Group457.webp); }

.webp .contact { background-image: url(../img/contact/Rectangle4433.webp); }

.webp .popup__img { background-image: url(../img/popup/background.webp); }